.budgetSec {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .d1 {
    display: flex;
    align-items: center;
    gap: 20px;
    button {
      width: 200px;
      height: 50px;
      border: none;
      border-radius: 10px;
      color: white;
      font-weight: 700;
      background-color: #e02d43;
      transition: 0.2s;
      cursor: pointer;
    }
    button:hover{
      transform: scale(1.1);
    }
    .addBudgetInput{
     
      outline: none;
      width: 130px;
      height: 40px;
    }
    .addBudgetActive{
      display: none;
    }
  }
  .d2 {
    display: flex;
    align-items: center;
    gap: 20px;
    div {
      width: 200px;
      height: 100px;
      border: 1px solid rgb(163, 163, 163);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 3px;
      justify-content: center;
      padding-left: 20px;
      p {
        color: grey;
        font-weight: 600;
      }
    }
  }
  .d3 {
    width: 100%;
    table {
      width: 100%;
      border-collapse: collapse;
      tr {
        height: 60px;
        border-bottom: 1px solid grey;
        th {
          text-align: start;
          color: grey;
        }
        td{
          font-weight: 700;
        }
      }
    }
    .formDiv {
      width: 100%;
      height: 100%;
      background-color: red;
      background-color: rgb(1, 2, 1, 0.5);
      left: 0;
      top: 0;
      display: none;
      position: fixed;
      form {
        width: 500px;
        background-color: white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 40px;
        margin: auto;
        
        gap: 20px;
        div{
          display: flex;
          flex-direction: column;
          gap: 5px;
          input {
            width: 100%;
            height: 40px;
            outline: none;
            padding-left: 10px;
            border: 1px solid #e02d43;
            border-radius: 10px;
          }
          input:focus {
            box-shadow: 0 1px 0 #ff2f2f;
          }
        }
        button {
          width: 100px;
          height: 50px;
          border: none;
          border-radius: 10px;
          color: white;
          font-weight: 700;
          background-color: #e02d43;
          transition: 0.2s;
          cursor: pointer;
        }
        button:hover{
         transform: scale(1.1);
        }
      }
    }
    .active {
      display: flex;
    }
    .addProd {
      width: 100px;
      height: 50px;
      border: none;
      border-radius: 10px;
      color: white;
      font-weight: 700;
      background-color: #e02d43;
      margin-top: 30px;
      cursor: pointer;
      transition: 0.2s;
    }
    .addProd:hover{
      transform: scale(1.1);
    }
  }
}
