<section class="budgetSec">
  <div class="filter">
    <div>
      <h3>Filter</h3>
    <datepicker-views-selection-example></datepicker-views-selection-example>
    </div>
    <div class="categoryFilter">
      <input type="text" placeholder="Category" />
    </div>
    <div class="textFilter">
      <input type="text" placeholder="Search..."/>
    </div>
  </div>
  <div class="d1">
    <h1>Budgets</h1>
    <button (click)="addBudget()">Add Budget</button>
    <input
      type="text"
      [(ngModel)]="totalBudget"
      class="addBudgetInput"
      [class.addBudgetActive]="addBudgetDisable"
    />
  </div>
  <div class="d2">
    <div>
      <h3>Rs. {{ total }}</h3>
      <p>TOTAL BUDGET</p>
    </div>
    <div>
      <h3>Rs. {{ sumUsed }}</h3>
      <p>TOTAL USED</p>
    </div>
    <div>
      <h3>Rs. {{ total - sumUsed }}</h3>
      <p>TOTAL LEFT</p>
    </div>
  </div>
  <div class="d3">
    @if(prodArray.length > 0){
    <table>
      <tr>
        <th>NAME</th>
        <th>BUDGET</th>
        <th>USED AMOUNT</th>
        <th>BALANCE LEFT</th>
        <th>EDIT</th>
      </tr>
      @for (item of prodArray; track $index) {
      <tr>
        <td>{{ item.Name }}</td>
        <td>{{ item.Budget }}</td>
        <td>{{ item.usedAmount }}</td>
        @if(item.balanceLeft > 0){
        <td [style.color]="'green'">{{ item.balanceLeft }}</td>
        }@else {
        <td [style.color]="'red'">{{ item.balanceLeft }}</td>
        }
        <td>
          <i
            class="fa-solid fa-pen-to-square"
            (click)="editBtn($index, item.Name, item.Budget, item.usedAmount)"
          ></i>
        </td>
      </tr>
      }
    </table>
    }
    <div class="formDiv" [class.active]="showInput">
      <form action="">
        <div>
          <label for="text">Category Name:</label>
          <input type="text" [(ngModel)]="prodName" name="prodName" #box />
        </div>
        <div>
          <label for="">Budget: </label>
          <input type="text" [(ngModel)]="budget" name="budget" />
        </div>
        <div>
          <label for="">Used Amount:</label>
          <input type="text" [(ngModel)]="usedAmount" name="usedAmount" />
        </div>
        <button type="submit" (click)="onSubmit()">sumbit</button>
      </form>
    </div>
    <button class="addProd" (click)="showInp()">
      ADD
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
</section>
